html {
    --text: rgb(255, 255, 255);
    --background: rgb(255, 248, 229);
    --primary: rgb(95, 162, 179);
    --secondary: rgb(95, 162, 179);
    --accent: rgb(95, 162, 179);
    --anotha1: rgb(95, 162, 179);
}

body {
    color: var(--text);
    background: var(--background);
}

h1 {
    color: rgb(110, 187, 206);
}

h2 {
    color: rgb(120, 209, 231)
}

h3 {
    color: rgb(120, 209, 231)
}

h4 {
    color: var(--anotha1);
}

h5 {
    color: var(--secondary);
}

h6 {
    color: var(--anotha1);
}

h1 {
    font-weight: 1000;
    font-size: xx-large;
    font-style:italic;
}

*{
    font-family: "Fira Sans", sans-serif;
}

:link {
    color: rgb(119, 205, 226);
    font-size: 10pt
}

:link.hover {
    opacity: 0.9;
}

:link.active {
    opacity: 0.8;
    transform: scale(1.02);
}

:visited {
    color:  rgb(119, 205, 226);
}

.guitar {
    height: 150px;
    width: auto;
}

.links {
    font-size: 1em;
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    transform: scale(1.3);
}

.the_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.the_links > ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
}

.the_word_links {
    color: rgb(119, 205, 226)
}

.video_games_image {
    height: 100px;
    width: auto;
    border-radius: 15px;
}

.arrow {
    height: 100px;
    width: auto;
    transform: translate(-15px, -40px)
}

.dog {
    height: 150px;
    width: auto;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.dog:hover {
    transform: scale(1.1);
    cursor: pointer;
}