html {
    --text: rgb(255, 255, 255);
    --background: rgb(255, 248, 229);
    --primary: rgb(95, 162, 179);
    --secondary: rgb(95, 162, 179);
    --accent: rgb(95, 162, 179);
    --anotha1: rgb(95, 162, 179);
}

body {
    color: var(--text);
    background: var(--background);
}

h1 {
    color: var(--secondary);
}

h2 {
    color: var(--anotha1);
}

h3 {
    color: var(--secondary);
}

h4 {
    color: var(--anotha1);
}

h5 {
    color: var(--secondary);
}

h6 {
    color: var(--anotha1);
}

h1 {
    font-weight: 1000;
    font-size: xx-large;
    font-style:italic;
}

*{
    font-family: "Fira Sans", sans-serif;
}

:link {
    color: rgb(119, 205, 226);
    font-size: 10pt
}

:link.hover {
    opacity: 0.9;
}

:link.active {
    opacity: 0.8;
    transform: scale(1.02);
}

:visited {
    color:  rgb(119, 205, 226);
}

.guitar {
    height: 150px;
    width: auto;
}

.links {
    font-size: 1em;
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    transform: scale(1.3);
}

.the_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}