body {
    display: grid;
    place-items:center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222021;
    color: white;
    user-select: none;
    position: relative;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.MJ-image {
    width: 300px
}

.MJ-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.MJ-image:active {
    opacity: 0.8;
    transform: scale(1.02);
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    transform: translateY(-60px)
}

.mid-section h4 {
    margin: 0;
}

.mid-section p {
    margin: 0;
}

.upgrade-img {
    width: 55px;
}

.MJ-img {
    width: 20px;
    height: 25px;
}

.cost-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.next-level-info {
    position: absolute;
    right: -105px;
    background-color: rgb(90, 89, 90);
    height: 80px;
    width: 100px;
    text-align: center;
}

.upgrade:hover {
    opacity: 0.9;
    cursor: pointer;
}

.upgrade-img-st {
    height: 75px;
    position: relative;
    left: -10px;
}

.upgrade-text-st {
    position: relative;
    left: -10px;
}

.upgrade-MJ-st {
    width: 20px;
    height: 25px;
    position:relative;
    left: -10px
}

.stats {
    position: absolute;
    bottom: 0;
    width: 450px;
    padding: 30px;
    border: 2px white solid;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    left: 50%;
    transform: translate(-100%)
}

.texts {
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}